@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body {
    padding: 0;
    margin: 10px;
}

header {
    background-color: teal;
    border-radius: 5px;
    padding: 10px 10px 10px 50px;
    text-shadow: 2px 2px gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
    font-family: 'Didact Gothic', sans-serif;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.2em;
}

li {
    font-size: 1em;
}